[submodule "src/colorization_engine/models/util_models/colorizers"]
	path = src/colorization_engine/models/util_models/colorizers
	url = https://github.com/richzhang/colorization.git
[submodule "src/colorization_engine/models/util_models/DDColor"]
	path = src/colorization_engine/models/util_models/DDColor
	url = https://github.com/piddnad/DDColor.git
[submodule "src/colorization_engine/models/util_models/iColoriT"]
	path = src/colorization_engine/models/util_models/iColoriT
	url = https://github.com/pmh9960/iColoriT.git
[submodule "src/colorization_engine/models/util_models/ControlColor"]
	path = src/colorization_engine/models/util_models/ControlColor
	url = https://github.com/ZhexinLiang/Control-Color
[submodule "src/colorization_engine/models/util_models/UniColor"]
	path = src/colorization_engine/models/util_models/UniColor
	url = https://github.com/luckyhzt/unicolor
[submodule "src/colorization_engine/models/util_models/CycleGAN_pix2pix"]
	path = src/colorization_engine/models/util_models/CycleGAN_pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
